#btnLogin{
  background-color: black; color: aliceblue; margin-top: 10vh;
}

#profile-batch{
  position: fixed; border: 1px solid #000; border-radius: 5vh; left: 2vh; top: 2vh; z-index: 1;
}
#profile-batch img{
  width: 5vh;
  height: 5vh;
  
}
.closeaProfileNave{
  position: absolute; right: 2vh; top: 2vh;
  background-color: rgb(113, 101, 101); color: rgb(7, 7, 6); border-radius: 5px; text-align: justify; width: 3vh; padding-left: 1vh;
}

#map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
  }